.App {
  text-align: center;
}

.background-main {
	background: url("/src/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.content {
	width: 1024px;
	margin: 0 auto;
}